.movie-div {
    box-shadow: 7px 10px 29px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 29px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 29px -16px rgba(0,0,0,0.75);
    margin: 5px;
   
}


.image {
    max-width: 200px;
    max-height: 200px;
}

.movie-title {
    font-size: 18px;
 }

 body {
    background-image: url(../images/hero-img.jpg);
    background-attachment: fixed;
    min-height: 100vh;
 }