/* ZERO OUT ANY USER-AGENT-ASSIGNED MARGINS, PADDINGS, ETC. */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
<<<<<<< HEAD
=======
    height: 100vh;
>>>>>>> megan/js
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

<<<<<<< HEAD
.hero-div {
    /* padding: 10%; What's the purpose of this padding? To center or push down the hero.div? */
    position: relative;
    top: 10vh;
}
=======
.welcome-text {
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 20px;
}

>>>>>>> megan/js
