.hero-div {
    padding: 20%;
}

html {
    height: 100vh;
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.welcome-text {
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 20px;
}

.navbar-burger span {
    width: 40px;
    height: 1px;
}