html {
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 100vh;
}

.movie-container {
    margin: 20px 100px;
    padding: 20px;
    backdrop-filter: blur(20px);
    border: solid 3px black;
    display: flex;
    border-radius: 20px;
}

.movie-container p {
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.movie-container h3 {
    font-size: 100px;
    color: white;
    margin: 10px;
}

.movie-poster {
    box-shadow: 5px 5px 5px black;
    height: auto;
    width: auto;
    max-height: 800px;
    position: sticky;
    top: 20px;
}

.movie-info {
    margin: 30px;
}

.secondary-info {
    border-bottom: white 3px solid;
}

.interactions {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.theaters-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.theater-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.theater-info a:hover {
    color: white;
    text-decoration: underline;
    transition-duration: .2s;
}

/* .icon-link {
    color: skyblue;
} */

.icon-link:hover {
    color: white;
    transition-duration: .2s;
}

.button {
    min-width: 200px;
    margin: 10px;
}

.links {
    display:inline-flex;
    flex-direction: column;
}

a {
    margin: 10px;
    text-decoration: none;
    
}

.a-1 {
    position: sticky;
    top: 20px;
}

.a-2 {
    position: sticky;
    top: 140px;
}

.a-3 {
    position: sticky;
    top: 80px;
}


@media screen and (max-width:1400px) {
    .movie-container {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .movie-poster {
        position: relative;
        max-height: 1000px;
        max-width: 600px;
        margin: auto;
    }

    .links {
        margin: auto;
    }

    /* a {
        margin: 1px;
    }

    .button {
        margin: 1px;
    } */

    .a-1 {
        position: static;
    }
    
    .a-2 {
        position: static;
    }
    
    .a-3 {
        position: static;
    }
    
}

@media screen and (max-width:1023px) {
    .imbd-logo{
        display: none;
    }

    .imbd-small {
        display: inline;
    }
}

@media screen and (max-width:900px) {
    .interactions {
        flex-direction: column;
    }

    .movie-container {
        margin: auto;
    }
}

@media screen and (max-width:585px) {
    .movie-poster {
        max-height: 750px;
        max-width: 400px;
    }
    
    .movie-info h3 {
        font-size: 55px;
    }
}

@media screen and (max-width:445px) {
    .movie-poster {
        max-height: 550px;
        max-width: 300px;
        margin: auto;
    }

    .movie-info {
        margin: auto;
    }

    .theater-info {
        margin: auto;
    }
}

@media screen and (max-width:385px) {
    .movie-container {
        padding: 10px;
        border: 0;

    }
    
    .movie-poster {
        max-height: 550px;
        max-width: 200px;
        margin: auto;
    }

    .movie-info h3 {
        font-size: 35px;
        padding-top: 15px;
    }

    p {
        font-size: 20px;
    }

    a {
        margin: 0;
    }

    .button {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 200px;
    }
}

@media screen and (max-width:320px) {
    .button {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}