#movie-image {
    min-width: 200px;
}

#related-movie-img {
    max-width: 175px;
}

#movie-search {
    border: solid 2px pink;
}
.imbd-logo {
    min-height: 100px;
}

#id-main {
    border: solid 5px green;
    padding: 2vh;
    background-image: url("/assets/images/hero-img.jpg");
    background-size: contain;
}

#id-div-container {
    border: solid 5px orange;
    min-height: 750px;
}

#id-div-main-child-text {
    margin: 1vh;
    border: solid 2px black;
}

#id-div-search {
    height: auto;
    border: solid 5px blue;
    padding: 5vh;
}

#movie-search-form {
    border: solid 2px black;
    padding: 2vh;
}


/***** UTILITIES *****/
.custom-border {
    border: solid 3px yellow;
}

.poster-size {
    height: 17vw;
    width: 12vw;
}

.display-it-flex {
    display: flex;
}

.div-container-max-height {
    max-height: 750px;
}

.max-width-fifty-percent {
    max-width: 50%;
    height: auto;
}

.max-height-div-container {
    border: solid 2px green;
    max-height: 36vh;
}

.hide-overflow {
    overflow: hidden;
}

.show-overflow-on-hover:hover {
    overflow: scroll;
}

.hand-pointer:hover {
    cursor: pointer;
}

.background-yellow {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c)
}

.text-color {
    color: rgb(240, 240, 240);
    font-size: 2em;
}